h2 {
    color:  #d4bcb2;
}


.nav-link{
    color:  #d4bcb2;

}

.nav-link:visited{
    color:  #d4bcb2;
   
}


.nav-link:hover{
    color:  #d4bcb2;
}


.btn-volver{
    color:  #ffffff;
    font-weight: 700;
    background-color:#d4bcb2;
    text-decoration: none;
    padding: 10px 20px 10px 20px; 

}

.btn-volver:visited{
    color:  #ffffff;
}

.btn-volver:hover{
    color:  #ffffff;

}