.card{
    width: 13rem;
    align-items:center;
    display: grid;
    grid-template-columns:  1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 1;
    margin-left: 25px;
    margin-bottom: 20px;


}

.card-img{
    align-items: center;
 

}

.card-name{
    margin-left: 40px;
}

.elements{
    color: #95887e;
    font-size: small;
    font-weight: bold;
    margin-left: 50px;
} 


.card-buttons{
    display: inline;
    align-items: center;
    margin-left: 40px;
    margin-right: 20px;
    padding-top: 20px;
    
}

.lastStep{
    color:  #ffff;
    background-color: #95887e;
    font-weight: bold;
    margin:20px;
    border: 1px solid #95887e;


}

.lastStep:visited{
    color:   #95887e;

}

.lastStep:hover{
    color:  #95887e;

}

.handle{
    width: 30%;
}

.nav-link{
    color:  #d4bcb2;

}


.nav-link:visited{
    color:  #d4bcb2;
   
}


.nav-link:hover{
    color:  #d4bcb2;
}