.nav-link{
    color:  #d4bcb2;
    font-weight: bold;


}


.nav-link:visited{
    color: #d4bcb2;
   
}


.nav-link:hover{
    color: #d4bcb2;
}


.card-name{
    color: #95887e;

}

.card{
    width: 13rem;
    align-items:center;
    display: grid;
    grid-template-columns:  1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 1;
    margin-left: 25px;
    margin-bottom: 20px;


}




