
.form{
    align-items: left;
    background-color: #F2ECEC;
    display: flex;
    padding-left: 10px;
    margin-left: 10px;
    width:50%;
}

.form-control{
    width: 50%;
    background-color: #F2ECEC;
}

.form-title{
    padding-left: 10px;
    padding-top: 10px;
    width: 50%;

}

.btn{
    margin-top: 10px;
    margin-bottom: 10px;
}

.sent{

    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 18%;
}