body{
    background: #ffffff;
}

.logo {
    margin: 3px 0px 10px 0px;
}

.nav-link{
    color:  #d4bcb2;

}


.nav-link:visited{
    color:  #d4bcb2;
   
}


.nav-link:hover{
    color:  #d4bcb2;
}

