.counter{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 61px;
    


}


.counterNumber{
    margin-left: 10px;
    margin-right: 10px;
}

.AddtoCart{
    margin:auto;
    margin-top: 10px;
    display: flex;
    
}